body
{ background-color: #a4dcde; }
tittle {
	font-family: 'Jua',sans-serif;
	font-weight: bold;
	font-size: 30px;
}
h1 {
	font-family: 'Jua',sans-serif;
	font-size: 32px;
}
h2 {
	font-family: 'Jua',sans-serif;
	font-size: 12px;
}